*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

@font-face {
    font-family: "Montserrat_Regular";
    src: url(../fonts/Montserrat/Montserrat_Regular.ttf);
}
@font-face {
    font-family: "Montserrat_Bold";
    src: url(../fonts/Montserrat/Montserrat_Bold.ttf);
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
    font-family: "Montserrat_Regular", sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 970px;
    width: 100%;
    background-image: url(../images/header_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.logo_and_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 135px;
    padding: 0 5%;
    background-color: rgba(0,0,0, 0.7);
    background-position: center;
    color: #fff;
}
.logo_and_nav .logo > span {
    font-family: "Montserrat_Bold", sans-serif;
    font-size: 2em;
}
.logo_and_nav .navbar li {
    list-style-image: none;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}
.logo_and_nav .navbar li:hover {
    color: #2ebaee;
}








#nav-icon3 {
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span {
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



.search {
  display: inline-block;
  position: relative;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px #2ebaee;
  border: 1px solid #2ebaee;
}

.search:before {
  content: '';
  width: 3px;
  height: 8px;
  position: absolute;
  right: -1px;
  bottom: -4px;
  border-radius: 0 0 2px 2px;
  background: #2ebaee;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search .inner {
  display: flex;
  align-items: center;
  min-width: 14px;
  height: 20px;
  margin: 1px;
  outline: 0;
  border: 0;
  border-radius: 1px;
  overflow: hidden;
}

.search .inner input {
  width: 4px;
  height: 100%;
  font-weight: 300;
  text-indent: 50px;
  outline: 0;
  border: 0;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  cursor: pointer;
  color: #FFF;
  font-size: 14px;
}

.search .inner input:focus {
  width: 190px;
  text-indent: 0;
  cursor: text;
  color: #2ebaee;
}
.search .inner input::-webkit-input-placeholder {
  color: #bbb;
}





.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.title h1 {
    font-size: 3em;
    margin-bottom: 0;
    text-align: center;
}
.title h3 {
    font-family: "Montserrat_Regular", sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}
.title #learn_more {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #2ebaee;
    border: none;
    border-radius: 50px;
}
.blue_button {
    width: 150px;
    height: 50px;
    background-color: #2ebaee;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our_services {
    width: 100%;
    min-height: 2140px;
    background: linear-gradient(-30deg, #2ebaee 0%, #2ebaee 50%, #ffffff 50%, #ffffff 100%);
    color: #000000;
    padding: 0 15%;
}
.our_services .first_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.our_services .first_block .service_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
}
.our_services .first_block .service_items .service_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    max-width: 20%;
    margin: 10px 15px;
}
.our_services .first_block .service_items .service_item p {
    width: 100%;
}
.our_services .first_block .check_services {
    margin-top: 100px;
}
.our_services .second_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    width: 100%;
}
.our_services .second_block .left_block {
    width: 40%;
}
.our_services .second_block .left_block * {
    margin-top: 10%;
}
.our_services .second_block .right_block {
    position: relative;
    width: 60%;
    height: 100%;
}
.our_services .second_block .right_block img {
    width: 100%;
    height: 100%;
}

.our_services .second_block .right_block iframe {
    position: absolute;
    width: 73%;
    height: 79%;
    z-index: 10;
    left: 13%;
    top: 7%;
}

.our_services .third_block {
    display: flex;
    align-items: center;
    margin: 150px 0;
    width: 100%;
}
.our_services .third_block .left_block {
    max-width: 60%;
}
.our_services .third_block .left_block img {
    max-width: 100%;
}
.our_services .third_block .right_block {
    padding-left: 5%;
    color: #fff;
    max-width: 40%;
}
.our_services .third_block .right_block button {
    background-color: #ffffff;
    color: #2ebaee;
}
.our_services .third_block .right_block * {
    margin-top: 10%;
}
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.features .man_near_blackboard {
    display: flex;
    justify-content: center;
    width: 100%;
}
.features .man_near_blackboard .left_block {
    width: 50%;
    height: 100%;
}
.features .man_near_blackboard .left_block img {
    width: 100%;
   
}
.features .man_near_blackboard .right_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.features .man_near_blackboard .right_block h1 {
    font-size: 3em;
}
.features .man_near_blackboard .right_block * {
    margin-top: 5%;
}

.features .features_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    font-size: 2em;
}
.features .features_items .feature_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 475px;
    height: 400px;
}
.features .features_items .feature_item h2 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.features .features_items .feature_item:hover h2 {
    background-color: rgba(46,186,238, 0.6);
}
.features .features_items #feature_item1 {
    background-image: url(../images/features/item1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.features .features_items #feature_item2 {
    background-image: url(../images/features/item2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.features .features_items #feature_item3 {
    background-image: url(../images/features/item3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.features .features_items #feature_item4 {
    background-image: url(../images/features/item4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.our_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 15%;
}
.our_team .our_team_title {
    font-size: 2em;
}
.our_team .all_team_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our_team .all_team_items .team_item {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.our_team .all_team_items .team_item h2 {
    letter-spacing: 5px;
}
footer {
    display: flex;
    width: 100%;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    background-image: url(../images/footer_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_information {
    display: flex;
    justify-content: flex-start;
    padding: 0 15%;
    width: 100%;
}
.contact_information .contact_with_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: darkgray;
    font-weight: 100;
}
.contact_information .contact_with_us h1 {
    color: #ffffff;
    font-size: 4em;
}
.contact_information .contact_with_us span {
    color: #2ebaee;
}
.contact_information .contact_with_us .social {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    letter-spacing: 20px;
}
.contact_information .contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.contact_information .contact_form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    width: 100%;
    color: #fff;
}
.contact_information .contact_form form *:not(:last-child) {
    margin: 2% auto;
    width: 60%;
    background-color: transparent;
    border: 1px solid #777;
}
.nav_and_copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    width: 100%;
    height: 135px;
    background-color: rgba(0,0,0, 0.7);
    color: #999;
}
.nav_and_copyright nav .navbar {
    padding-left: 0;
}
.nav_and_copyright nav .navbar li {
    list-style-image: none;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

